html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  /* grid-template-columns: repeat(1, 1fr); */
  align-items: center;
  gap: 2.5rem;
}

.container img {
  width: 100%;
  height: 310px;
  transition: .5s ease;
}